.app {
	text-align: center;
	background-color: black;
	color: white;
}

.appPage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);

	&Ht2 {
		min-height: 200vh;
	}
	&Ht3 {
		min-height: 300vh;
	}
	&Ht4 {
		min-height: 400vh;
	}
}
