.app {
	text-align: center;
	background-color: black;
	color: white;
	font-size: calc(10px + 2vmin);
}

.appPage {
	min-height: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

.vh1point5 {
	min-height: 150vh;
	height: 150vh;
	width: 100vw;
}

.vh2 {
	min-height: 200vh;
	height: 200vh;
	width: 100vw;
}

.vh3 {
	min-height: 300vh;
	height: 300vh;
	width: 100vw;
}

.vh4 {
	min-height: 400vh;
	height: 400vh;
	width: 100vw;
}

.drivingSceneCanvas {
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vignette {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	box-shadow: inset 0px 0px 150px 20px black;
	mix-blend-mode: multiply;
	-webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
	-moz-animation: vignette-anim 3s infinite; /* Fx 5+ */
	-o-animation: vignette-anim 3s infinite; /* Opera 12+ */
	animation: vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes vignette-anim {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@-moz-keyframes vignette-anim {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@-o-keyframes vignette-anim {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
@keyframes vignette-anim {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

@mixin arrowBase {
	padding: 1rem; /* Arrow size */
	box-shadow: 1px -1px 0 1px white inset;
	-webkit-box-shadow: 2px -2px white inset;
	border: solid transparent;
	border-width: 0 0 2rem 2rem;
	transition: 0.2s;
	margin-top: 1rem;

	&:hover {
		box-shadow: 2px -2px 0 2px white inset;
		-webkit-box-shadow: 4px -4px white inset;
	}
}

.arrowUp {
	@include arrowBase;
	transform: rotate(135deg);
}

.arrowRight {
	@include arrowBase;
	transform: rotate(225deg);
}

.arrowLeft {
	@include arrowBase;
	transform: rotate(45deg);
}

.arrowDown {
	@include arrowBase;
	transform: rotate(-45deg);
}

.fadeIn {
	animation: fadein 3s ease 0s normal forwards 1;
	-webkit-animation: fadein 3s ease 0s normal forwards 1;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
